*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}
nav{
  display: flex;
  background-color: white;
  height: 100px;
  width: 100%;
  box-shadow: 0px 2px 4px 1px rgb(191, 191, 191);
  align-items: center;
  margin: auto;
}
.logo{
  margin-left: 3%;
  width: 10%;
  height:100%;
}
.middle-nav{
  display: flex;
  width:34%;
  height: 100%;
  align-items: center;
}
.right-nav{
  display: flex;
  width: 50%;
  margin-right: 3%;
  height:100%;
  align-items: center;
  justify-content: flex-end;
}
.middle-nav a{
  color: black;
  text-transform: uppercase;
}
button{
  display: block;
  background-color:black;
  color: white;
  font-size: 11pt;
  font-weight: 550;
  border-radius: 17px;
  border: 1px solid black;
  height: 35%;
}
.navbar-signin{
  background-color: white;
  color: black;
  width: 14%;
  margin-right: 2%;
}
.navbar-joinnow{
  width: 16%;
  margin-right: 5.5%;
}
.logo img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.middle-nav ul li{
  display: inline-block;
  padding: 1%;
  font-weight: 700;
}
.middle-nav ul{
  width: 100%;
}